/*
    CSS from georgelovegrove, thanks for him to let me us it
    Github : https://github.com/georgelovegrove
    CSS from the project : https://github.com/georgelovegrove/lights-out-game
*/

body {
    background-color: #fafafa;
}

h4, p, button, input {
    font-family : Helvetica, sans-serif, Arial;
    color: #5A5A5A;
    text-align: center;
}

a {
    margin: 0 5px;
    font-weight: bold;
    text-decoration: none;
    color: #91CBF3;
  }

  .normal {
    font-style: normal !important;
  }

p, button, input {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px; 
    text-decoration: none;
}

button {
    display: inline-block;
    background-color: #91CBF3;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    transition: 0.1s linear;
}

input {
    display: inline-block;
    border: 1px solid lightgrey;
    padding: 10px 20px;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px; 
}

#container {
    margin: 20px auto;
    text-align: center;
}
.lightOn {
    background-color: #91CBF3;
    border: 1px solid #5A5A5A;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    vertical-align: top;
    margin: 0 -2px;
    transition: 0.1s linear;
}

.lightOff {
    background-color: white;
    border: 1px solid grey;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    vertical-align: top;
    margin: 0 -2px;
    transition: 0.1 linear;
}

.lightOn:hover, button:hover {
    background-color: #6daeda;
}

.lightOff:hover {
    background-color: rgb(223, 223, 223);
}

.alert {
    color: #d4d4d4;
    font-size: 14pt;
    font-style: italic;
    font-family: 'Fredoka One';
}

.alert > img {
    width: 13pt;
    margin: 5px 5px 0 5px;
}

.alert > .blue {
    filter: invert(76%) sepia(57%) saturate(499%) hue-rotate(175deg) brightness(96%) contrast(99%);
}

.alert > img.gold {
    filter: invert(85%) sepia(19%) saturate(3481%) hue-rotate(357deg) brightness(103%) contrast(107%);
}
.alert > b.gold {
    color: #FFD700 !important;
}

.alert > img.big {
    width: 18pt;
    margin: 0px 5px 0 5px;
}

.instruct {
    font-size: 8pt;
    font-style: italic;
    color:rgb(194, 194, 194)
}